src
test
tsconfig.json
tsconfig.module.json
tslint.json
.coveralls.yml
.codacy.yml
.travis.yml
.github
.prettierrc
.prettierignore
.vscode
dist/docs
**/*.spec.*
coverage
.nyc_output
*.log
ava.config.js
nyc.config.js
